<div class="card">
  <div class="row">
    <ng-container *ngIf="articles$ | async as data">
      <p-table
        #dtable
        [value]="data"
        dataKey="index"
        styleClass="p-datatable-sm"
        [paginator]="true"
        [rows]="7"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} записей"
      >
        <ng-template pTemplate="header">
          <tr>
            <th width="7%"></th>
            <th width="5%" style="text-align:center"> № </th>
            <th> Подпункт </th>
            <th> Наименование статьи </th>
            <th></th>
          </tr>

          <tr>
            <th></th>
            <th>
              <input pInputText
                type="text"
                [value]="$any(dtable.filters['article_id'])?.value"
                (input)="dtable.filter($any($event.target)?.value, 'article_id', 'equals')"
                placeholder="№"
                class="form-control col-lg-12"
              >
            </th>
            <th>
              <input pInputText
                type="text"
                [value]="$any(dtable.filters['sub'])?.value"
                (input)="dtable.filter($any($event.target)?.value, 'sub', 'equals')"
                placeholder="Подпункт"
                class="form-control col-lg-12"
              >
            </th>
            <th width="">
              <input pInputText
                type="text"
                [value]="$any(dtable.filters['text'])?.value"
                (input)="dtable.filter($any($event.target)?.value, 'text', 'contains')"
                class="form-control col-lg-12"
              >
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-column let-i="rowIndex" let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="column" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="text-align:center">{{ column.article_id }}</td>
            <td style="text-align:center">{{ column.sub }}</td>
            <td (click)="dtable.toggleRow(column, $event)" style="cursor: pointer;">{{ column.text }}</td>
            <td>
              <button pButton pRipple label="Выбрать" (click)="onSelected(column)" class="p-button-primary p-button-outlined"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-column>
          <tr>
              <td colspan="7">
                  <div>
                    <ul class="pl-8 row-height">

                      <li>
                        <div>
                          <span class="attribute"> Длительность хранения: </span>
                          <span>{{ column.duration | nameEmpty }}</span>
                        </div>
                      </li>

                      <li>
                        <div>
                          <span class="attribute"> Номер приказа: </span>
                          <span>{{ column.order_number | nameEmpty }}</span>
                        </div>
                      </li>

                      <li>
                        <div>
                          <span class="attribute"> Дата приказа: </span>
                          <span>{{ column.order_date | nameEmpty }}</span>
                        </div>
                      </li>

                      <li>
                        <div>
                          <span class="attribute"> Содеримое приказа: </span>
                          <span>{{ column.order_desc | nameEmpty }}</span>
                        </div>
                      </li>

                      <li>
                        <div>
                          <span class="attribute"> Содержимое подпункта: </span>
                          <span>{{ column.default_name | nameEmpty }}</span>
                        </div>
                      </li>

                      <li>
                        <div>
                          <span class="attribute"> Примечание: </span>
                          <span>{{ column.tips | nameEmpty }}</span>
                        </div>
                      </li>
                    </ul>

                  </div>
              </td>
          </tr>
      </ng-template>

      </p-table>

    </ng-container>
  </div>
</div>
