<div class="container">
  <p-confirmDialog [style]="{width: '700px'}" [baseZIndex]="10000"></p-confirmDialog>
  <p-dialog header="Комментарий" [(visible)]="display" [style]="{width: '600px'}" [baseZIndex]="10000">
    <p>
      {{ comment }}
    </p>
  </p-dialog>

  <div class="row">
    <ng-container *ngIf="nomenclatures$ | async as data">
      <p-table
        #dtable
        [value]="data"
        dataKey="id"
        styleClass="p-datatable-sm p-datatable-gridlines"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} записей"
        [rowsPerPageOptions]="[10,25,50]"
      >

      <ng-template pTemplate="caption">
        <span class="caption-table"> Список номенклатур </span>
      </ng-template>

      <ng-template pTemplate="header" class="flex">
        <tr>
          <th class="w-1" style="text-align:center"> № </th>
          <th class="w-2" style="text-align:center"> Дата и время создания </th>
          <th class="w-1" style="text-align:center"> Год </th>
          <th class="w-3" style="text-align:center"> Статус </th>
          <th class="w-3" style="text-align:center" *ngIf="roleAdmin"> Участок </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <th></th>
          <th></th>
          <th>
            <input
              pInputText
              type="text"
              [value]="$any(dtable.filters['year'])?.value"
              (input)="dtable.filter($any($event.target)?.value, 'year', 'contains')"
              placeholder="Год"
              class="form-control col-lg-12"
            >
          </th>
          <th *ngIf="roleAdmin">
            <p-dropdown
                [options]="filters.statuses"
                optionValue="id"
                (onChange)="dtable.filter($event.value, 'proc_state', 'equals')"
                placeholder="Все статусы"
                [showClear]="true"
                optionLabel="type"
                [style]="{'width':'100%'}"
                autoWidth="false"
                >

                <ng-template let-option pTemplate="item">
                  <span [class]="'list-badge status-' + option.id">{{option.type}}</span>
                </ng-template>
              </p-dropdown>
          </th>
          <th >
            <p-dropdown
              [options]="filters.deptnames"
              optionValue="deptname"
              (onChange)="dtable.filter($event.value, 'deptname', 'equals')"
              placeholder="Все участки"
              [showClear]="true"
              optionLabel="deptname"
              [style]="{'width':'100%'}"
            >
            <!-- [(ngModel)]="userDeptName" -->
            <ng-template let-option pTemplate="item">
              {{ option.deptname }}
            </ng-template>
          </p-dropdown>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
      </ng-template>

      <ng-template pTemplate="body" let-column let-i="rowIndex">
        <tr colorYear [col]="column">
          <td style="text-align:center">{{ i + 1 }}</td>
          <td style="text-align:center"> {{ column.date_create }} </td>
          <td style="text-align:center"> {{ column.year }} </td>
          <td style="text-align:center">
            <span
              [innerHtml]="column.proc_state | describeStatusNum: filters.statuses"
              [class]="'list-badge status-' + column.proc_state">
            </span>
          </td>
          <td style="text-align:center" *ngIf="roleAdmin">
            {{ column.deptname }}
          </td>
          <td style="text-align:center">
            <button
              pButton
              pRipple
              icon="pi pi-eye"
              (click)="onShowNom(column.id)"
              class="p-button-primery p-button-outlined"
              pTooltip="Посмотреть номенклатуру"
              tooltipPosition="top"
            ></button>
          </td>
          <td style="text-align:center">
            <button
              *ngIf="column.proc_state != 2"
              [disabled]="column.proc_state == 1 || column.proc_state == 2"
              pButton
              pRipple
              icon="pi pi-download"
              (click)="onDownloadNom(column.id)"
              class="p-button-primery p-button-outlined"
              pTooltip="Скачать"
              tooltipPosition="top"
            ></button>

            <button
              *ngIf="column.proc_state == 2"
              pButton
              pRipple
              icon="pi pi-ellipsis-h"
              (click)="onShowComment(column.sign_comment)"
              class="p-button-secondary p-button-outlined"
              pTooltip="Комментарий"
              tooltipPosition="top"
            ></button>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-upload"
              (click)="onOpenModalUpload(i + 1, column.id)"
              class="p-button-primery p-button-outlined"
              pTooltip="Загрузить скан-копии"
              tooltipPosition="top"
              [disabled]="column.proc_state != 3"
            ></button>
          </td>
          <td style="text-align:center">
            <button
              pButton
              pRipple
              icon="pi pi-clone"
              (click)="onCreateBasedOn(column.id)"
              class="p-button-help p-button-outlined"
              pTooltip="Создать на основе"
              tooltipPosition="top"
            ></button>
          </td>
          <td style="text-align:center">
            <button
              [disabled]="column.proc_state == 3 || column.proc_state == 4"
              pButton
              pRipple
              icon="pi pi-trash"
              (click)="onDeleteNom(column.id, i + 1)"
              class="p-button-danger p-button-outlined"
              pTooltip="Удалить"
              tooltipPosition="top"
            ></button>
          </td>
        </tr>
      </ng-template>

      </p-table>
    </ng-container>
  </div>

</div>
