<nav class="navbarr">
  <div class="navbar-logo">
    <a [routerLink]="['']">
      <img src="assets/images/logo_iss.png">
    </a>
  </div>

  <div class="navbar-brand flex">
    <span><i class="mdi mdi-magnify mdi-18px"></i></span>
    <a routerLink="/" class="navbar-brand-name"> Номенклатура дел </a>
    <div class="pl-3" [hidden]="!loading">
      <p-progressSpinner
        [style]="{width: '45px', height: '45px'}"
      ></p-progressSpinner>
    </div>
  </div>

  <div class="navbar-form"></div>

  <div class="flex" *ngIf="currentUser.isAuthenticated">
    <p-divider layout="vertical"></p-divider>

    <ul class="navbar-navu">
      <li class="nav-item-el">
        <div class="icon-group">
          <i class="pi pi-user user-icon"></i>
          <span> {{ currentUser.fioInitials }} </span>
        </div>
      </li>

      <li class="nav-item-el">
        <p-button
          icon="pi pi-sign-out"
          styleClass="p-button-text p-button-plain"
          (click)="onLogout()"
        ></p-button>
      </li>
    </ul>
  </div>
</nav>

<p-toast [style]="{'font-size': '14px'}" class="custom-toast" position="top-right"></p-toast>

<!-- <nav class="menubar">
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/']"> Текущая номенклатура </a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/2222']"> Список номенклатур </a>
    </li>

    <li class="tab-right">
      <a [routerLink]="['/']"> Дополнительно </a>
    </li>
  </ul>
</nav> -->

<p-menubar [model]="items">
</p-menubar>


