<div class="p-fluid grid">

  <div class="container">
    <form [formGroup]="form">
      <div class="py-2">
        <label>* Статья </label>

        <div class="flex">
          <div class="w-9 pr-2">
            <input type="text" pInputText formControlName="article"/>
          </div>
          <div class="w-3">
            <button pButton pRipple label="Выбрать" icon="pi pi-search" (click)="onOpenModalListArticles()" class="p-button-primary p-button-outlined"></button>
          </div>
        </div>
      </div>

      <div class="py-2">
        <label>* Номер приказа </label>
        <input type="text" pInputText formControlName="number"/>

        <div class="p-error" *ngIf="form.get('number')!.invalid && (form.get('number')!.dirty || form.get('number')!.touched)">
          <small *ngIf="form.get('number')?.errors?.['required']">
            Не может быть пустым
          </small>
          <small *ngIf="form.get('number')?.errors?.['maxlength']">
            Номер приказа должно быть не более {{form.get('number')?.errors?.['maxlength'].requiredLength }} символов
          </small>
          <small *ngIf="form.get('number')?.errors?.['pattern']">
            Может содержать только цифры
          </small>
        </div>
      </div>

      <div class="py-2">
        <label>* Дата </label>
        <p-calendar
          formControlName="date_order"
          appendTo="body"
          dateFormat="dd.mm.yy"
          placeholder="Выберите дату"
          [showIcon]="true"
          [readonlyInput]="true"
          (onSelect)="onSelectDate()"
        >
        </p-calendar>

        <div class="p-error" *ngIf="form.get('date_order')!.invalid && (form.get('date_order')!.dirty || form.get('date_order')!.touched)">
          <small *ngIf="form.get('date_order')?.errors?.['required']">
            Не может быть пустым
          </small>
        </div>
      </div>

      <div class="py-2">
        <label>* Содержимое приказа </label>
        <input type="text" pInputText formControlName="desc"/>

        <div class="p-error" *ngIf="form.get('desc')!.invalid && (form.get('desc')!.dirty || form.get('desc')!.touched)">
          <small *ngIf="form.get('desc')?.errors?.['required']">
            Не может быть пустым
          </small>
          <small *ngIf="form.get('desc')?.errors?.['maxlength']">
            Содержимое приказа должно быть не более {{form.get('desc')?.errors?.['maxlength'].requiredLength }} символов
          </small>
        </div>
      </div>

      <div class="py-2">
        <label>* Длительность хранения </label>
        <p-dropdown [options]="durationTypes" formControlName="duration_type" optionLabel="duration" optionValue="id"></p-dropdown>

        <div class="p-error" *ngIf="form.get('duration_type')!.invalid && (form.get('duration_type')!.dirty || form.get('duration_type')!.touched)">
          <small *ngIf="form.get('duration_type')?.errors?.['required']">
            Не может быть пустым
          </small>
        </div>
      </div>

      <div class="py-2">
        <label>* Ссылка на приказ </label>
        <input type="text" pInputText formControlName="link"/>

        <div class="p-error" *ngIf="form.get('link')!.invalid && (form.get('link')!.dirty || form.get('link')!.touched)">
          <small *ngIf="form.get('link')?.errors?.['required']">
            Не может быть пустым
          </small>
          <small *ngIf="form.get('link')?.errors?.['maxlength']">
            Ссылка должна содержать не более {{form.get('link')?.errors?.['maxlength'].requiredLength }} символов
          </small>
        </div>
      </div>

      <div class="py-2">
        <label> Примечание </label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="false" formControlName="note" class="w-full p-inputtext"></textarea>

        <div class="p-error" *ngIf="form.get('note')!.invalid && (form.get('note')!.dirty || form.get('note')!.touched)">
          <small *ngIf="form.get('note')?.errors?.['maxlength']">
            Примечание должно быть не более {{form.get('note')?.errors?.['maxlength'].requiredLength }} символов
          </small>
        </div>
      </div>

      <label>* Обязательные поля для заполнения </label>
    </form>

    <div class="flex justify-content-end mt-3">
      <p-button
        label="Сохранить"
        icon="mdi mdi-loading mdi-spin mdi-18px"
        class="pr-2"
        styleClass="p-button-outlined p-button-success"
        (click)="onSaveOrder()"
      ></p-button>

      <p-button
        label="Отмена"
        icon="mdi mdi-loading mdi-spin mdi-18px"
        styleClass="p-button-outlined p-button-secondary"
        (click)="onCloseModal()"
      ></p-button>
    </div>

  </div>

</div>
