@import 'src/stylesheets/utils';

:host {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #ececec;
  text-align: center;
  align-items: center;
}

.footer-copyright {
  color: black;
  font-size: 13px;
}
