::ng-deep .p-menubar {
  height: 40px;
  background-color: #ececec !important;
  border-radius: 0px;
  font-size: 16px;

  p-menubarsub {    width: 100%;
    display: flex;
    justify-content: center;
  }

  .p-menuitem-icon {
    color: var(--color-sd) !important;
  }
}
